 .u-section-1 {
  background-image: url("images/ziemia.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 802px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 349px -50px 0 auto;
  padding: 10px 12px 10px 11px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: flex-end;
  background-image: none;
  margin: -45px 165px 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: flex-end;
  background-image: none;
  margin: -45px 347px 0 auto;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: flex-end;
  background-image: none;
  margin: -45px auto 0 422px;
  padding: 10px 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: flex-end;
  background-image: none;
  margin: -45px auto 0 256px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: flex-end;
  background-image: none;
  margin: -45px auto 0 96px;
  padding: 10px 8px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: flex-end;
  background-image: none;
  margin: -45px auto 60px -50px;
  padding: 10px 42px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 332px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 147px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 222px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 56px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 233px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 2px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 152px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 62px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }
}